{% extends "./layout.html" %}
{% block title %}{{ data.titulo }}{% endblock %}

{% block body %}
    <header class="header">
        <div class="header-left">
            <h2>{{ data.h2 }}</h2>
        </div>
        <div class="header-right">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo">
        </div>
    </header>
    <main class="container">
        <section class="card">
            <h3>{{ data.h3 }}</h3>
            <form>
                <div class="input">
                    <label class="label">Número remito</label>
                    <input type="text" name="numero" placeholder="Número del remito" id="remito" required>
                </div>
                <div class="input">
                    <label class="label">Imagen</label>
                    <input type="file" name="imagen" id="imagen" required>
                </div>
            </form>
            <button class="boton" id="boton">Cargar datos</button>
            <div id="mostrar"></div>
        </section>
        <a class="boton" href="{{ url_for('index')}}">Volver</a>
        <script src="../../static/js/manual.js"></script>
    </main>
{% endblock %}